* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open sans', sans-serif;
    background-color: #CEE5D0 20%;
    
}
    
.menu {
    position: relative;
    justify-content: center;
    text-align: center;
    display: flex;
    padding: 130px 0px;
    font-variant: small-caps;
    
    
}
.menu h1 {
    font-family: monospace;
    font-size: 26px;
    padding: 5px 0px;
    color: #ffff;
    z-index: 1;
    
    
}
.menu ul li {
    z-index: 1;
    justify-content: center;
    text-align: center;
    display: flex;
    position: center;
    margin: auto;
}
.menu a {
   font-size: 40px;
    color: #ffff;
}
.mail {
    font-size: 15px;
    margin-top: 10px;
    padding: 2px;
}
.tblmail {
    position: relative;
    font-size: 40px;
    color: #ffff;
    
}
.tblmail input{
    position: absolute;
    width: 40px;
    height: 40px;
    opacity: 0;
    right: 109px;
    top: 1px;
    cursor: pointer; 
}
.tblmail p {
    position: absolute;
    font-size: 20px;
    padding: 10px 0px;
    opacity: 0;
    transition: all .5s;
}

.tblmail input:checked ~ p {
    opacity: 1;
}
.cover {
    background-image: url(coverr.jpg);
    width: 100%;
    height: 100%;
    background-size:cover;
    display: grid;
    position: absolute;
    background-position: center;
    
}
.cover:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0,0, .3) ;
}

