* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open sans', sans-serif;
    background-color: #CEE5D0;
}
.paper {
   
    margin: auto;
    
}
.logo {
    margin: none;
    font-size: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    color: #5E454B;
    background-color: #D8B384;
    padding-bottom: 5px;
    text-align: center;
    
}
.menu {
    
    position: relative;
    justify-content: center;
    text-align: center;
    display: flex;
    padding: 50 px;
}
.menu h1 {
    font-family: monospace;
    font-size: 18px;
    margin: 10px 0px;
    color: #515E63;
    
    
}
.menu ul li {
    
    
    display: grid;
    position: relative;
     
}
.menu a {
   font-size: 40px;
    color: #515E63;
}
.desc {
    padding: 30px 20px;
    font-family: cursive;
    font-size: 20px;
    color: #515E63;
}